In [20]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df1=pd.DataFrame({'temp':['Extreamly_low','low','Medium','low','low','Hign','extremly_hign']})
df1

            temp
0  Extreamly_low
1            low
2         Medium
3            low
4            low
5           Hign
6  extremly_hign

In [21]:
label=LabelEncoder()
df1['temp']=label.fit_transform(df1['temp'])

In [22]:
df1

   temp
0     0
1     4
2     2
3     4
4     4
5     1
6     3

In [29]:
autodf=pd.read_csv("./Datasets/autos_dataset.csv")
autodf

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [26]:
autodf=pd.get_dummies(autodf,columns=['body-style'],prefix='body')
autodf

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,drive-wheels,engine-location,wheel-base,length,...,horsepower,peak-rpm,city-mpg,highway-mpg,price,body_convertible,body_hardtop,body_hatchback,body_sedan,body_wagon
0,3,?,alfa-romero,gas,std,two,rwd,front,88.6,168.8,...,111,5000,21,27,13495,True,False,False,False,False
1,3,?,alfa-romero,gas,std,two,rwd,front,88.6,168.8,...,111,5000,21,27,16500,True,False,False,False,False
2,1,?,alfa-romero,gas,std,two,rwd,front,94.5,171.2,...,154,5000,19,26,16500,False,False,True,False,False
3,2,164,audi,gas,std,four,fwd,front,99.8,176.6,...,102,5500,24,30,13950,False,False,False,True,False
4,2,164,audi,gas,std,four,4wd,front,99.4,176.6,...,115,5500,18,22,17450,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,rwd,front,109.1,188.8,...,114,5400,23,28,16845,False,False,False,True,False
201,-1,95,volvo,gas,turbo,four,rwd,front,109.1,188.8,...,160,5300,19,25,19045,False,False,False,True,False
202,-1,95,volvo,gas,std,four,rwd,front,109.1,188.8,...,134,5500,18,23,21485,False,False,False,True,False
203,-1,95,volvo,diesel,turbo,four,rwd,front,109.1,188.8,...,106,4800,26,27,22470,False,False,False,True,False
204,-1,95,volvo,gas,turbo,four,rwd,front,109.1,188.8,...,114,5400,19,25,22625,False,False,False,True,False

In [30]:
autodf=pd.get_dummies(autodf,columns=['fuel-type'],prefix='fuel',dtype=int)

In [31]:
autodf

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fuel_diesel,fuel_gas
0,3,?,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,13495,0,1
1,3,?,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,16500,0,1
2,1,?,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9.0,154,5000,19,26,16500,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,176.6,...,3.19,3.4,10.0,102,5500,24,30,13950,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,176.6,...,3.19,3.4,8.0,115,5500,18,22,17450,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,std,four,sedan,rwd,front,109.1,188.8,...,3.78,3.15,9.5,114,5400,23,28,16845,0,1
201,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,188.8,...,3.78,3.15,8.7,160,5300,19,25,19045,0,1
202,-1,95,volvo,std,four,sedan,rwd,front,109.1,188.8,...,3.58,2.87,8.8,134,5500,18,23,21485,0,1
203,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,188.8,...,3.01,3.4,23.0,106,4800,26,27,22470,1,0
204,-1,95,volvo,turbo,four,sedan,rwd,front,109.1,188.8,...,3.78,3.15,9.5,114,5400,19,25,22625,0,1

In [32]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
df3 = pd.DataFrame({'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']})

In [33]:
onehotencoder = OneHotEncoder()
df3_encoded = onehotencoder.fit_transform(df3[['City']]).toarray()

# Create a DataFrame with the encoded data
df3_encoded_df = pd.DataFrame(df3_encoded, columns=onehotencoder.get_feature_names_out(['City']))
df3_encoded_df

,City_Chicago,City_Dallas,City_Houston,City_Los Angeles,City_New York,City_Philadelphia,City_Phoenix,City_San Antonio,City_San Diego,City_San Jose
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0